@page "/members/admin"

@using DataAccess.Repositorys.Interface
@using DataAccess.Models

@inject IMembersRepository _membersRepository

<h3>Members</h3>

<p>
    <a href="/members/add">Create</a>
</p>

@if (members == null || members.Count == 0)
{
    <p>This saga has no members yet!</p>
}
else
{
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">Nick</th>
                <th scope="col">Name</th>
                <th scope="col">Born</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody class="">
            @foreach (var member in members)
            {
                <tr>
                    <th>@member.NickName</th>
                    <td>@member.FirstName @member.LastName</td>
                    <td>@member.DateOfBirth.Year</td>
                    <td>@member.City</td>
                    <td>@member.Country</td>
                    <td><img src="data:image/jpeg;base64, @(Convert.ToBase64String(member.Image))" width="50" height="50" /></td>
                    <td><a href="/members/edit/@member.Id">Edit</a> | <a href="/members/delete/@member.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MembersModel> members;

    protected override async Task OnInitializedAsync()
    {
        members = await _membersRepository.GetAllMembers();
    }
}
